@mixin imagejpg-mobile($bg){
    background: {
        image: linear-gradient(rgba(0,0,0,0.50), rgba(0,0,0,0.55)), url("/img/home/mobile/#{$bg}.jpg");
        size: cover;
        position: center;
    }
}

@mixin imagejpg-tablet($bg){
    background: {
        image: linear-gradient(rgba(0,0,0,0.50), rgba(0,0,0,0.55)), url("/img/home/tablet/#{$bg}.jpg");
        size: cover;
        position: center;
    }
}

@mixin imagejpg-desktop($bg){
    background: {
        image: linear-gradient(rgba(0,0,0,0.50), rgba(0,0,0,0.55)), url("/img/home/desktop/#{$bg}.jpg");
        size: cover;
        position: center;
    }
}

@mixin imagepng($bg){
    background: {
        image: url("../img/#{$bg}.png");
        size: cover;
        position: center;
    }
}

@mixin gridimage($gbg){
    background: {
        image: url("/img/grid\ images/#{$gbg}.jpg");
        size: cover;
        position: center;
    }
}

@mixin imagejpg-fadeblue($fbg){
    background: {
        image: linear-gradient($blue-trans, $blue-trans), url("../img/#{$fbg}.jpg");
        size: cover;
        position: center;
    }
}


@mixin size($size){
    width: #{$size}px;
    height: #{$size}px;
}