@mixin imagejpg-fademobile($bg){
    background: {
        image: linear-gradient(rgba(0,0,0,0.50), rgba(0,0,0,0.55)), url("/img/home/mobile/#{$bg}.jpg");
        size: cover;
        position: center;
    }
}

@mixin imagejpg-mobile($bg){
    background: {
        image: url("/img/portfolio/mobile/#{$bg}.jpg");
        size: cover;
        position: center;
    }
}

@mixin hover-desaturate(){
    &:hover{
        cursor: pointer;
        filter: saturate(0);
    }
}

@mixin center-image(){
    background: {
        size: cover;
        position: center;
    }
}








@mixin gridimage($gbg){
    background: {
        image: url("/img/grid\ images/#{$gbg}.jpg");
        size: cover;
        position: center;
    }
}

@mixin imagejpg-fadeblue($fbg){
    background: {
        image: linear-gradient($blue-trans, $blue-trans), url("../img/#{$fbg}.jpg");
        size: cover;
        position: center;
    }
}


@mixin size($size){
    width: #{$size}px;
    height: #{$size}px;
}