$tablet: 4rem;
$desktop: 7rem;

//------------ Padding ------------//

$header-tablet-padding: 3em 0;
$header-desktop-padding: 3em 0;

$mobile-nav-padding: 3.5em 0 3.5em 3em;

$hero-mobile-padding: 7em 2em;
$hero-tablet-padding: 7em $tablet;
$hero-desktop-padding: 10em $desktop;

$welcome-desktop-padding: 0 $desktop;

$aboutpromo-mobile-padding: 12em 2em;
$aboutpromo-tablet-padding: 12em $tablet;
$aboutpromo-desktop-padding: 8em $desktop;

$footer-mobile-padding: 7em 3em 3em;

$abouthero-mobile-padding: 4em 2em 5em;
$abouthero-desktop-padding: 0em 0;

$aboutheritage-mobile-padding: 5em 2em;
$aboutheritage-tablet-padding: 5em 0;

$aboutleaders-mobile-padding: 0 2em 5em;
$aboutleaders-tablet-padding: 0 0 5em;

$contactdetails-mobile-padding: 5em 2em 0;
$contactdetails-tablet-padding: 5em 0 0;


$btn-padding: 2em 4em;
$contact-btn: 1em 3em;


//------------ Margin ------------//

$tablet-margin: 0 5em;
$desktop-margin: 0 10.3125em;

$welcome-mobile-margin: 7em 2em;
$welcome-tablet-margin: 7em 0;
$welcome-desktop-margin: 12em 0;

$featured-mobile-margin: 7em 2em 10em;
$featured-tablet-margin: 7em 0;

$portfolio-mobile-margin: 3em 2em 9em;
$portfolio-tablet-margin: 1em 0 9em;

$abouthero-desktop-margin: 0 0 10em 0;

$aboutheritage-mobile-margin: 0;
$aboutheritage-desktop-margin: 10em 0;

$contactdetails-tablet-margin: 0 0 10em;
$contactdetails-desktop-margin: 0 0 6em;

//------------- Text -------------//

$lineheight-p: 1.7;
$lineheight-t: 1.4;

$letterspacing-t: -3px;