.about-promo{

    background-image: linear-gradient(rgba(0,0,0,0.35), rgba(0,0,0,0.45),), url("../img/home/mobile/image-small-team.jpg");
    @include center-image();
    padding: $aboutpromo-mobile-padding;

    @include respond(tablet){
        background-image: linear-gradient(rgba(0,0,0,0.35), rgba(0,0,0,0.45),), url("../img/home/desktop/image-small-team.jpg");
        padding: $aboutpromo-desktop-padding;
    }

    .aboutpromo-title{
        color: white;
        font-size: $fs-mobile-title;
        font-weight: $fw-medium;
        margin-bottom: 2rem;
        line-height: 1.4;
        letter-spacing: -3px;

        @include respond(tablet){
            font-size: $fs-tablet-title;
            line-height: 1.1;
        }

        @include respond(desktop){
            line-height: normal;
            margin-bottom: 1rem;
        }
    }

}