.about-heritage{
    padding: $aboutheratige-mobile-padding;
    position: relative;

    &::before{
        content: "";
        background-color: $light-grey;
        width: 60px;
        height: 1px;
        position: absolute;
        top: 0;
        left: 2em;
    }

    .heritage-title{
        margin-bottom: 0.8em;
    }
}