.featured{
    margin: $featured-mobile-margin; 
    position: relative;

    @include respond(tablet){ //600px
        margin: $featured-tablet-margin;    
    }

    .featured-title{ //Featured
        font-size: $fs-mobile-title;
        font-weight: $fw-medium;
        margin-bottom: 1em;

        @include respond(tablet){ //600px
            font-size: $fs-tablet-title;
        }
    }

    .featured-groups{
        
        // opacity: 0;
        // pointer-events: none;
        // transition: opacity 500ms ease-in;

        @include respond(desktop){ //1000px 
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 2em
        }

        .featured-group{ //Box with background image on it
            color: $white;
            height: 240px;
            margin-bottom: 1.5em;
            position: relative;
            padding: 1.5em;
            display: flex;
            align-items: flex-end;
            overflow: hidden;
            transition: $transition-filter, opacity 500ms ease-in, transform 500ms ease-in;
            opacity: 0;
            pointer-events: none;
            transform: translateY(-10px);
            @include hover-desaturate();
            @include hover-move();

            @include respond(desktop){ //1000px 
                height: 560px;
            }

            .featuredgroup-text{

                p:first-child{
                    font-size: 1.2rem;
                    margin-bottom: 0.5rem;
                }
            }
        }

        .fade-in{
            opacity: 1;
            pointer-events: all;
            transform: translateY(0);
        }

        .featured-number{
            color: rgba(#ffffff, 0.5);
            font-size: 10rem;
            position: absolute;
            bottom: -20px;
            right: 20px;
            display: none;

            @include respond(tablet){ //600px 
                display: block;
            }

            @include respond(tablet){ //600px 
                top: 80px;
                right: -15px;
            }
        }

        .feature-1,
        .feature-2,
        .feature-3{
            @include center-image();
        }

        .feature-1{
            background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.55),), url("../img/portfolio/tablet/image-del-sol.jpg");

            @include respond(desktop){ //1000px     
               background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.55),), url("../img/portfolio/desktop/image-del-sol.jpg");
            }
        }

        .feature-2{
            background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.55),), url("../img/portfolio/tablet/image-228b.jpg");

            @include respond(desktop){ //1000px 
                background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.55),), url("../img/portfolio/desktop/image-228b.jpg");     
            }
        }
        
        .feature-3{
            background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.55),), url("../img/portfolio/tablet/image-prototype.jpg");

            @include respond(desktop){ //1000px 
                background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.55),), url("../img/portfolio/desktop/image-prototype.jpg");    
            }
        }
    }

    // .fade-in{
    //     opacity: 1;
    //     pointer-events: all;
    // }

}