header{
    display: none;
    padding: $header-tablet-padding;

    @include respond(tablet){
        display: block;
    }

    @include respond(desktop){
        padding: $header-desktop-padding;
    }
}