header{
    display: none;
    padding: $header-tablet-padding;
    position: relative;

    @include respond(tablet){
        display: block;
    }

    @include respond(desktop){
        padding: $header-desktop-padding;
    }

    .pagetags-group{
        transform: rotate(90deg);
        transform-origin: bottom left;
        position: absolute;
        top: -14px;
        left: 35px;
        display: none;
    
        @include respond(tablet){
            display: block;
        }
    
        @include respond(desktop){
            left: 75px;
        }
    }
    
    .page-tags{
        color: $light-grey;
        font-size: 0.7em;
        width: 150px;
        transform-origin: center;
        position: absolute;
        top: 70px;
        left: 20px;
        margin-left: 12.5em;
        letter-spacing: 10px;

        @include respond(desktop){
            top: 130px;
        }
    
        &::before{
            content: "";
            background-color: $light-grey;
            width: 100px;
            height: 1px;
            position: absolute;
            top: 50%;
            left: -150px;
            transform: translateY(-50%);
        }
    }
}