.hero{
    background-image: linear-gradient(rgba(0,0,0,0.35), rgba(0,0,0,0.45),), url("../img/home/mobile/image-hero-paramour.jpg");
    background-color: black;
    background-position: top;
    background-size: cover;
    color: $white;
    padding: $hero-mobile-padding;
    position: relative;

    @include respond(tablet){
        background-image: linear-gradient(rgba(0,0,0,0.35), rgba(0,0,0,0.45),), url("../img/home/tablet/image-hero-paramour.jpg");    
        padding: $hero-tablet-padding;
    }

    @include respond(desktop){
        background-image: linear-gradient(rgba(0,0,0,0.35), rgba(0,0,0,0.45),), url("../img/home/desktop/image-hero-paramour.jpg");    
        padding: $hero-desktop-padding;
    }

    // .hero-content{
    // }

    h1{ //welcome to Arch Studio
        font-weight: $fw-medium;
        font-size: $fs-mobile-title;
        margin-left: -3.5px;

        @include respond(tablet){
            font-size: $fs-tablet-title;
        }
    }

    .hero-desc{
        font-size: $fs-desc;
        line-height: $lineheight-p;
        max-width: 430px;
        margin-bottom: 5em;
    }

    
}