.welcome{
    margin: $welcome-mobile-margin;
    position: relative;

    @include respond(tablet){
        margin: $welcome-tablet-margin;
    }

    @include respond(desktop){
        margin: $welcome-desktop-margin;
        padding: $welcome-desktop-padding;

    }

    .welcome-banner{ //BIG WELCOME
        margin-bottom: 2rem;

        @include respond(desktop){
            margin-bottom: -4.5rem;
            margin-left: -7.5rem;
            font-size: 9rem;
        }
    }

    .welcome-title{ //Welcome to Arch Studios
        margin-bottom: 0.8em;
    }

    .welcome-img{
        position: absolute;
        top: 0;
        right: 0;
        z-index: -10;
        display: none;

        @include respond(desktop){
            display: block;
        }
    }

}