.leaders .leader-groups .leader-group .leader-img {
  height: 410px; }

.leaders .leader-groups .leader-group .leader-1 {
  background-image: url("../img/about/desktop/avatar-jake.jpg"); }

.leaders .leader-groups .leader-group .leader-1 {
  background-image: url("../img/about/desktop/avatar-thompson.jpg"); }

.leaders .leader-groups .leader-group .leader-1 {
  background-image: url("../img/about/desktop/avatar-jackson.jpg"); }

.leaders .leader-groups .leader-group .leader-1 {
  background-image: url("../img/about/desktop/avatar-maria.jpg"); }
