.btn{
    padding: $btn-padding;
    background-color: $black;
    border: none;
    color: $white;
    cursor: pointer;

    &:hover,
    &:focus{
        background-color: $dark-grey;
    }

    &:active{
        background-color: $light-grey;
    }
}

.featured-btn{
    width: 100%;

    @include respond(desktop){
        position: absolute;
        top: 0;
        right: 0;
        width: initial;
    }
}