.btn{
    padding: $btn-padding;
    background-color: $black;
    border: none;
    color: $white;
    cursor: pointer;
    transition: $transition-backgroundcolor;

    &:hover,
    &:focus{
        background-color: $dark-grey;
    }

    &:active{
        background-color: $light-grey;
    }
}

.featured-btn{
    width: 100%;

    @include respond(desktop){
        position: absolute;
        top: 0;
        right: 0;
        width: initial;
    }
}

.footer-btn{

    @include respond(desktop){
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }

}

.submit-btn{
    width: 80px;
    height: 80px;
    padding: 0;
    margin-left: 100%;
    transform: translateX(-100%);

    svg path{
        filter: brightness(100); //turns the arrow from black to white
    }
}
