@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;700;900&display=swap');

// THIS SECTION IS WHERE YOU WOULD ASSIGN A FONT TO A VARIABLE, SO YOU CAN USE THIS VARIABLE IN "../ABSTRACTS/_TYPOGRAPHY.SCSS
// NOTE: IF YOU ARE USING A FONT FROM GOOGLE FONTS, MAKE SURE YOU PUT THE <LINK> IN THE HEADER ON "INDEX.HTML"

// Below is an example

// Fonts
$ff-main: 'Spartan', sans-serif;

// Font Weight
$fw-medium: 500;
$fw-bold: 700;

//Font size
$fs-mobile-title: 2rem;
$fs-tablet-title: 3rem;
$fs-desc: 0.8rem;