$transition-color: color 250ms ease-in-out;
$transition-opacity: opacity 250ms ease-in-out;
$transition-mobile-links: opacity 800ms ease-in-out;
$transition-transform: transform 400ms cubic-bezier(.14,.61,.39,.92);
