@use "../abstracts/" as a;

.hero{
    height: 560px;
    // width: 100%;
    // max-width: 500px;
    background-image: url("../img/home/mobile/image-hero-paramour.jpg");
    background-position: center;
    background-size: cover;
}